<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<title>Hipdrobe</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="shortcut icon" href="{% static 'hipdrobe/favicon/favicon.ico' %}" type="image/x-icon">
    <!-- <link rel="icon" href="{% static 'hipdrobe/favicon/favicon.ico' %}" type="image/x-icon"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/css/regist_util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'hipdrobe/css/regist_main.css' %}">
<!--===============================================================================================-->
	
	


</head>
<body>
</script>

	<video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			<source src="{%static 'hipdrobe/img/regist_images/background.mp4'%}">
	
	</video>

	<div class="container-login100" >
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30" style="line-height:3.0em">
			
			<form class="login100-form validate-form", method="POST", action =''>
					{% csrf_token %}
				<span class="login100-form-title p-b-37">
					회원가입
				</span>

				<div class="wrap-input100 validate-input m-b-20">
					<input class="input100" type="email" id="userid" name="userid" placeholder="이메일" required>
					<span class="focus-input100"></span>
				</div>
				<div class="check_font" id="id_check"></div>
				
                
				<div class="wrap-input100 validate-input m-b-20" data-validate="비밀번호를 입력하세요">
					<input class="input100" type="password" id="userpw1" name="userpw1" placeholder="비밀번호" required>
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-20" data-validate="비밀번호를 입력하세요">
					<input class="input100" type="password" id="userpw2"name="userpw2" placeholder="비밀번호 확인" required>
					<span class="focus-input100"></span>
				</div>
				<div class="check_font" id="pwd_check"></div>
                
				<div class="wrap-input100 validate-input m-b-20" data-validate="닉네임을 입력하세요">
					<input class="input100" type="text" name="nick" placeholder="닉네임" required>
					<span class="focus-input100"></span>
                </div>

				<div>
                    <label>
                        <input type="radio" class="option-input radio" name="gender" value="male"  checked="checked"/>
                            남성
                    </label>
                    <label>
                        <input type="radio" class="option-input radio" name="gender" value="female" />
                            여성
                    </label>
                <div>
                
                <br/>
                
				<div class="container-login100-form-btn">
					<button type="submit" id="reg_submit" class="login100-form-btn">
						회원가입
					</button>
				</div>


				<div class="text-center">
					<a href="{% url 'hipdrobe:index' %}" class="txt2 hov1">
						메인페이지로
					</a>
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'hipdrobe/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'hipdrobe/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'hipdrobe/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'hipdrobe/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'hipdrobe/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'hipdrobe/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'hipdrobe/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'hipdrobe/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'hipdrobe/js/regist_main.js' %}"></script>
<!--===============================================================================================-->
	<!-- jquery 라이브러리 사용 -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!--===============================================================================================-->
	

<script>


 function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      });
</script>
<script>
//비밀번호 확인
$('#userpw2').blur(function() {
	if ($('#userpw1').val() != $('#userpw2').val()) {
		if ($('#userpw2').val() != '') {
			$("#pwd_check").css("color", "red");
			$("#pwd_check").css("text-align", "center");
			$("#pwd_check").text("비밀번호가 일치하지 않습니다. :p");
			$("#reg_submit").attr("disabled", true);
			$('#userpw2').val('');
			$('#userpw2').focus();
		}
	} else {
		$("#reg_submit").attr("disabled", false);
		$("#pwd_check").text("");
	}
})

//이메일 중복 확인
$('#userid').blur( function() {
	var userid = $('#userid').val()
			
	$.ajax({
		url:'/check_id?userid='+userid,
		dataType:'json',
		type:'get',
		
		success:function(response){
			if(response.result != 'success'){
			console.error(response.data)
			return;
		}
		if(response.data == 'exist'){
			$("#id_check").text("사용중인 이메일입니다 :p");
			$("#id_check").css("color","red");
			$("#id_check").css("text-align","center");
			$("#reg_submit").attr("disabled",true);
			
		}
		else{
			$("#id_check").text("사용가능한 이메일입니다 :p");
			$("#id_check").css("color","blue");
			$("#id_check").css("text-align","center");
			$("#reg_submit").attr("disabled",false);
			
		}
		},

	
		error : function(xhr, error){
			alert("서버와의 통신에서 문제가 발생했습니다.");
			console.error("error : " + error);
		}
	})
});
</script>
</body>
</html>
